.exists-in-dict,
.new-for-dict,
.null {
    background-color: #e9e9e9;
}

.found {
    cursor: pointer;
}

.null {
    color: red;
}

.exists-in-dict {
    color: #ff6900;
}

.new-for-dict {
    color: green; /* new words found */
}

.filtered {
    background-color: white;
    color: black;
}

.header {
    color: white;
    text-align: center;
}

.card-panel p {
    margin-top: 0;
}

.material-tooltip {
    text-align: left;
}

.legend li:nth-child(3) {
	display: none;
}

#modalCosineThreshold {
    max-width: 150px;
}
